<fieldset>
    <mtapp:setting
        id="mtn_url_base"
        label="<__trans phrase="Base URL">"
        hint=""
        show_hint="0">
        <p>
            <input type="radio" name="system_url_type" id="system_url_type_2" value="2" <mt:if name="system_url_type_2">checked="checked"</mt:if> /> <__trans phrase="Use Config File for Base URL (Default)"><br />
            <input type="radio" name="system_url_type" id="system_url_type_3" value="3" <mt:if name="system_url_type_3">checked="checked"</mt:if> /> <__trans phrase="Use Each Blog Site URL for Base URL"><br />
            <input type="radio" name="system_url_type" id="system_url_type_4" value="4" <mt:if name="system_url_type_4">checked="checked"</mt:if> /> <__trans phrase="Specify Another Address for Base URL"> (<a href="<a href="#" onclick="return toggleAdvancedPrefs(event,'system_url_type')"><__trans phrase="Set Base URL"></a>)<br />
            <span id="system_url_type-advanced" class="setting-advanced">
                <br /><input id="system_url_base" name="system_url_base" size="75" <mt:if name="system_url_base">value="<$mt:var name="system_url_base"$>"</mt:if> />
            </span>
        </p>
    </mtapp:setting>
    <mtapp:setting
        id="mtn_confirm"
        label="<__trans phrase="Bypass">"
        hint=""
        show_hint="0">
        <p>
            <input type="radio" name="system_bypass" id="system_bypass_0" value="0" <mt:if name="system_bypass_0">checked="checked"</mt:if> /> <__trans phrase="Send Entry Notifications Prior to Subscription Date"><br />
            <input type="radio" name="system_bypass" id="system_bypass_1" value="1" <mt:if name="system_bypass_1">checked="checked"</mt:if> /> <__trans phrase="Skip Entry Notifications Prior to Subscription Date (Default)">
        </p>
    </mtapp:setting>
    <mtapp:setting
        id="mtn_bypass"
        label="<__trans phrase="Confirmation">"
        hint=""
        show_hint="0">
        <p>
            <input type="radio" name="system_confirm" id="system_confirm_0" value="0" <mt:if name="system_confirm_0">checked="checked"</mt:if> /> <__trans phrase="Do not Send any Confirmation Messages"><br />
            <input type="radio" name="system_confirm" id="system_confirm_1" value="1" <mt:if name="system_confirm_1">checked="checked"</mt:if> /> <__trans phrase="Send Confirmation for New Subscriptions (Default)">
        </p>
    </mtapp:setting>
    <mtapp:setting
        id="mtn_queued"
        label="<__trans phrase="Queue">"
        hint=""
        show_hint="0">
        <p>
            <input type="radio" name="system_queued" id="system_queued_0" value="0" <mt:if name="system_queued_0">checked="checked"</mt:if> /> <__trans phrase="Do not Submit any Notifications to Delivery Queue (Default)"><br />
            <input type="radio" name="system_queued" id="system_queued_1" value="1" <mt:if name="system_queued_1">checked="checked"</mt:if> /> <__trans phrase="Submit Notifications to Queue for Later Delivery">
        </p>
    </mtapp:setting>
    <mtapp:setting
        id="mtn_address"
        label="<__trans phrase="Sender">"
        hint=""
        show_hint="0">
        <p>
            <__trans phrase="Address to use when sending notifications and no other addresses are available:"><br /><br />
            <input id="system_address" name="system_address" maxlength="75" size="75" <mt:if name="system_address">value="<$mt:var name="system_address"$>"</mt:if> />
        </p>
    </mtapp:setting>
</fieldset>
