<TMPL_INCLUDE NAME="header.tmpl">

<p><MT_TRANS phrase="The Movable Type activity log contains a record of notable actions in the system. All times are displayed in GMT."></p>

<TMPL_IF NAME=RESET>
<h4 class="message"><MT_TRANS phrase="The activity log has been reset."></h4>
</TMPL_IF>

<div class="list">
<table cellspacing="0">

<tr>
<th width="20%"><MT_TRANS phrase="Date"></th>
<th width="10%"><MT_TRANS phrase="IP Address"></th>
<th width="70%"><MT_TRANS phrase="Log Message"></th>
</tr>

<TMPL_LOOP NAME=LOG_ENTRY_LOOP>
<tr class="<TMPL_IF NAME=IS_ODD>odd<TMPL_ELSE>even</TMPL_IF>">
<td><TMPL_IF NAME=IS_LAST><a name="last"></a></TMPL_IF><TMPL_VAR NAME=CREATED_ON_FORMATTED></td>
<td><TMPL_VAR NAME=LOG_IP></td>
<td><TMPL_VAR NAME=LOG_MESSAGE></td>
</tr>

</TMPL_LOOP>

</table>
</div>

<div align="center">
<form><input type="button" onclick="window.location='<TMPL_VAR NAME=SCRIPT_URL>?__mode=reset_log'" value="<MT_TRANS phrase="Reset Activity Log">"></form>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
