[<TMPL_VAR NAME=BLOG_NAME>] <TMPL_IF NAME=NOTIFIER_RUNNING><MT_TRANS phrase="Please confirm your request to"> <TMPL_VAR NAME=RECORD_TEXT><TMPL_ELSE><MT_TRANS phrase="You have subscribed to"></TMPL_IF> <TMPL_VAR NAME=RECORD_NAME>