<mt:if name="entry_excerpt"><__trans phrase="Summary: "></mt:if>
<mt:if name="entry_excerpt"><tmpl_var name="entry_excerpt"></mt:if>

<__trans phrase="View the entire entry:">
<tmpl_var name="entry_link">

<__trans phrase="Cancel this subscription:">
<tmpl_var name="notifier_link">?__mode=verify_subs&c=<tmpl_var name="record_cipher">&u=1

<__trans phrase="Block all notifications from this site:">
<tmpl_var name="notifier_link">?__mode=verify_subs&c=<tmpl_var name="record_cipher">&o=1