[<TMPL_VAR NAME=BLOG_NAME>] <TMPL_IF NAME=NOTIFIER_ENTRY><MT_TRANS phrase="New Entry from"> <TMPL_VAR NAME=ENTRY_AUTHOR>: <TMPL_VAR NAME=ENTRY_TITLE ESCAPE=HTML><TMPL_ELSE><MT_TRANS phrase="New Comment on"> <TMPL_VAR NAME=ENTRY_TITLE ESCAPE=HTML></TMPL_IF>