[<mt:var name="blog_name">] <mt:if name="notifier_entry"><__trans phrase="New Entry from"> <mt:var name="entry_author">: <mt:var name="entry_title" escape="html"><mt:else><__trans phrase="New Comment on"> <mt:var name="entry_title" escape="html"></mt:if>