<TMPL_IF NAME=NOTIFIER_ENTRY><TMPL_IF NAME=ENTRY_EXCERPT><MT_TRANS phrase="Summary: "></TMPL_IF></TMPL_IF><TMPL_IF NAME=NOTIFIER_COMMENT><TMPL_VAR NAME=COMMENT_BODY></TMPL_IF>
<TMPL_IF NAME=NOTIFIER_ENTRY><TMPL_IF NAME=ENTRY_EXCERPT><TMPL_VAR NAME=ENTRY_EXCERPT></TMPL_IF></TMPL_IF><TMPL_IF NAME=NOTIFIER_COMMENT><TMPL_IF NAME=COMMENT_AUTHOR><MT_TRANS phrase="Author: "><TMPL_VAR NAME=COMMENT_AUTHOR><br /></TMPL_IF><TMPL_IF NAME=COMMENT_URL><MT_TRANS phrase="Website: "><TMPL_VAR NAME=COMMENT_URL></TMPL_IF></TMPL_IF>

<MT_TRANS phrase="View the entire entry:">
<TMPL_VAR NAME=ENTRY_LINK>

<MT_TRANS phrase="Cancel this subscription:">
<TMPL_VAR NAME=NOTIFIER_LINK>?__mode=verify_subs&c=<TMPL_VAR NAME=RECORD_CIPHER>&u=1

<MT_TRANS phrase="Block all notifications from this site:">
<TMPL_VAR NAME=NOTIFIER_LINK>?__mode=verify_subs&c=<TMPL_VAR NAME=RECORD_CIPHER>&o=1
