<$mt:EntryExcerpt$>

View the entire entry:
<$mt:EntryPermalink$>

Cancel this subscription:
<$mt:Var name="notifier_script"$>?__mode=verify_subs&c=<$mt:Var name="notifier_record_cipher"$>&u=1

Block all notifications from this site:
<$mt:Var name="notifier_script"$>?__mode=verify_subs&c=<$mt:Var name="notifier_record_cipher"$>&o=1
