'<$mt:BlogName$>' requires you to use a double-opt system for making any changes to your subscription information.

Because you, or someone using your email address, recently submitted a request at '<$mt:BlogName$>', you are being sent this confirmation to verify that the request is genuine.

The request is to <$mt:Var name="notifier_record_description"$>:
<$mt:Var name="notifier_record_text"$>

Please confirm your request by clicking this link:
<$mt:Var name="notifier_script"$>?__mode=verify_subs&c=<$mt:Var name="notifier_record_cipher"$>

Use this link if you would like to visit before confirming this request:
<$mt:Var name="notifier_record_link"$>

If you did not make this request, do nothing.  You will receive no further reminders of this request.  If you did make this request, but there are errors in the request, you can simply submit a new one to correct any problems.  Confirmation of that request will follow your re-submission.
