<TMPL_INCLUDE NAME="header.tmpl">

<h2><TMPL_VAR NAME=MESSAGE></h2>

<TMPL_IF NAME=CONFIRM>
<p><MT_TRANS phrase="You will receive an email to confirm your request momentarily.  If you do not, you may submit your request again."></p>
</TMPL_IF>

<TMPL_IF NAME=LINK_URL>
<p><MT_TRANS phrase="Return to "><a href="<TMPL_VAR NAME=LINK_URL>"><TMPL_IF NAME=LINK_NAME><TMPL_VAR NAME=LINK_NAME><TMPL_ELSE><TMPL_VAR NAME=LINK_URL></TMPL_IF></a></p>
</TMPL_IF>

</div>
</div>
<div id="copyright">
<b>MT-Notifier Version <TMPL_VAR NAME=NOTIFIER_VERSION></b> Copyright &copy; 2003-2005 Everitz Consulting. All Rights Reserved.
</div>

</body>
</html>

