<mt:include name="include/header.tmpl" component="notifier">

<h2><$mt:var name="message"$></h2>

<mt:if name="link_url">
    <mt:if name="link_name">
        <p><a href="<$mt:var name="link_url"$>"><__trans phrase="Return to"> <$mt:var name="link_name"$></a></p>
    <mt:else>
        <p><a href="<$mt:var name="link_url"$>"><__trans phrase="Return to"> <$mt:var name="link_url"$></a></p>
    </mt:if>
</mt:if>

<mt:if name="confirm">
<p><__trans phrase="You will receive an email to confirm your request momentarily.  If you do not, you may submit your request again."></p>
</mt:if>

<mt:include name="include/footer.tmpl" component="notifier">
