<TMPL_INCLUDE NAME="include/header.tmpl">

<h2><TMPL_VAR NAME=MESSAGE></h2>

<TMPL_IF NAME=CONFIRM>
<p><MT_TRANS phrase="You will receive an email to confirm your request momentarily.  If you do not, you may submit your request again."></p>
</TMPL_IF>

</div>
</div>
<div id="copyright">
<b>MT-Notifier Version <TMPL_VAR NAME=NOTIFIER_VERSION></b> Copyright &copy; <a href="http://everitz.com">Everitz Consulting</a>. All Rights Reserved.
</div>

</body>
</html>