<script language="JavaScript">
  <!--
    function hide_and_seek () {
      if (document.getElementById('blog_disabled').checked) {
        document.getElementById('blog_userlist_1').disabled = 1;
        document.getElementById('blog_userlist_2').disabled = 1;
        document.getElementById('blog_userlist_3').disabled = 1;
        document.getElementById('blog_confirm_0').disabled = 1;
        document.getElementById('blog_confirm_1').disabled = 1;
        document.getElementById('blog_queued_0').disabled = 1;
        document.getElementById('blog_queued_1').disabled = 1;
        document.getElementById('blog_address_type_1').disabled = 1;
        document.getElementById('blog_address_type_2').disabled = 1;
        document.getElementById('blog_address_type_3').disabled = 1;
        document.getElementById('blog_address').disabled = 1;
      } else {
        document.getElementById('blog_userlist_1').disabled = 0;
        document.getElementById('blog_userlist_2').disabled = 0;
        document.getElementById('blog_userlist_3').disabled = 0;
        document.getElementById('blog_confirm_0').disabled = 0;
        document.getElementById('blog_confirm_1').disabled = 0;
        document.getElementById('blog_queued_0').disabled = 0;
        document.getElementById('blog_queued_1').disabled = 0;
        document.getElementById('blog_address_type_1').disabled = 0;
        document.getElementById('blog_address_type_2').disabled = 0;
        document.getElementById('blog_address_type_3').disabled = 0;
        if (document.getElementById('blog_address_type_3').checked) {
          document.getElementById('blog_address').disabled = 0;
        } else {
          document.getElementById('blog_address').disabled = 1;
        }
      }
    }
  //-->
</script>
<div class="setting">
  <div class="field">
    <p>
      <input type="checkbox" name="blog_disabled" id="blog_disabled" onclick="hide_and_seek(this.form)" value="1" <TMPL_IF NAME=BLOG_DISABLED>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="Disable MT-Notifier for This Blog">
    </p>
    <p>
      <br />
      <input type="radio" name="blog_userlist" id="blog_userlist_1" value="1" <TMPL_IF NAME=BLOG_USERLIST_1>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="Use System Setting for Notification List (Default)"><br />
      <input type="radio" name="blog_userlist" id="blog_userlist_2" value="2" <TMPL_IF NAME=BLOG_USERLIST_2>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="Display Movable Type Notification List"><br />
      <input type="radio" name="blog_userlist" id="blog_userlist_3" value="3" <TMPL_IF NAME=BLOG_USERLIST_3>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="Display MT-Notifier Subscription List">
    </p>
    <p>
      <br />
      <input type="radio" name="blog_confirm" id="blog_confirm_0" value="0" <TMPL_IF NAME=BLOG_CONFIRM_0>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="Do not Send Any Confirmation Messages"><br />
      <input type="radio" name="blog_confirm" id="blog_confirm_1" value="1" <TMPL_IF NAME=BLOG_CONFIRM_1>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="Send Confirmation for New Subscriptions">
    </p>
    <p>
      <br />
      <input type="radio" name="blog_queued" id="blog_queued_0" value="0" <TMPL_IF NAME=BLOG_QUEUED_0>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="Do not Submit any Notifications to Delivery Queue"><br />
      <input type="radio" name="blog_queued" id="blog_queued_1" value="1" <TMPL_IF NAME=BLOG_QUEUED_1>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="Submit Notifications to Queue for Later Delivery">
    </p>
    <p>
      <br />
      <input type="radio" name="blog_address_type" id="blog_address_type_1" onclick="hide_and_seek()" value="1" <TMPL_IF NAME=BLOG_ADDRESS_TYPE_1>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="Use System Address for Sender Address (Default)"><br />
      <input type="radio" name="blog_address_type" id="blog_address_type_2" onclick="hide_and_seek()" value="2" <TMPL_IF NAME=BLOG_ADDRESS_TYPE_2>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="Use Author Address for Sending Notifications"><br />
      <input type="radio" name="blog_address_type" id="blog_address_type_3" onclick="hide_and_seek()" value="3" <TMPL_IF NAME=BLOG_ADDRESS_TYPE_3>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="Use This Address for Sending Notifications:"><br /><br />
      <input id="blog_address" name="blog_address" size="50" <TMPL_IF NAME=BLOG_ADDRESS>value="<TMPL_VAR NAME=BLOG_ADDRESS>"</TMPL_IF> />
    </p>
  </div> 
</div>
<script language="JavaScript">
  <!--
    hide_and_seek();
  //-->
</script>
