<TMPL_INCLUDE NAME="header.tmpl">

<h2><MT_TRANS phrase="View Subscription Count">: <span class="title-highlight"><TMPL_VAR NAME=TOTAL_SUBS> <MT_TRANS phrase="Total"></span></h2>

<p><MT_TRANS phrase="Here is the count of current subscribers for your selected items."></p>

<div class="list" id="selector">
<table cellspacing="0">

<thead>
<tr>
<TMPL_IF NAME=TYPE_BLOG>
<th width="40%"><MT_TRANS phrase="Blog Name"></th>
</TMPL_IF>
<TMPL_IF NAME=TYPE_CATEGORY>
<th width="40%"><MT_TRANS phrase="Category Label"></th>
</TMPL_IF>
<TMPL_IF NAME=TYPE_ENTRY>
<th width="40%"><MT_TRANS phrase="Entry Title"></th>
</TMPL_IF>
<th width="29%"><MT_TRANS phrase="Opt-Out Records"></th>
<th width="29%"><MT_TRANS phrase="Subscriptions"></th>
</tr>
</thead>

<tbody>
<TMPL_LOOP NAME=SUBS>
<tr class="<TMPL_IF __ODD__>odd<TMPL_ELSE>even</TMPL_IF>">
<td><TMPL_VAR NAME=NAME ESCAPE=HTML></td>
<td><TMPL_VAR NAME=OPT_COUNT></td>
<td><TMPL_VAR NAME=SUB_COUNT></td>
</tr>
</TMPL_LOOP>
</tbody>

</table>
</div>

</form>

<TMPL_INCLUDE NAME="footer.tmpl">
