</div><!-- /main-content-inner -->
</div><!-- /main-content -->
</div><!-- /content-inner -->
</div><!-- /content -->

<div id="footer"><div id="footer-inner" class="inner">
    <div id="copyright">
        <__trans phrase="Copyright"> &copy; 2003-<$mt:date format="%Y"$> <a href="<$mt:var name="notifier_author_link"$>"><$mt:var name="notifier_author_name"$></a>.  <__trans phrase="All Rights Reserved">.
    </div>
    <div id="version">
        <strong><a href="<$mt:var name="notifier_plugin_link"$>"><$mt:var name="notifier_name"$></a> <__trans phrase="version"> <$mt:var name="notifier_version"$></strong>
    </div>
</div></div> 

</div><!-- /container-inner -->
</div><!-- /container -->

</body>
</html>
